:root {
    --bgcolor: #001928;
}
@font-face {
    font-family: 'Burbank';
    src: url('Assets/font/burbankbigcondensed_black.otf') format('opentype');
}

body, html {
    background: var(--bgcolor);
    margin:0;
    padding:0;
    overflow:auto;
    height:auto;
    font-family: 'Reem Kufi', 'Burbank';
    perspective: 100px;
        cursor: url('Assets/cursor/mouse.cur'), auto;
}
a, button, button > div, a > div {
    cursor: url('Assets/cursor/mouse.cur'), pointer;
}

.primary {
    background-color: var(--color);
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
            mask-image: var(--icon-url);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
}

.banner {
    position: sticky;
    top: 0;
    z-index: 1000;

    padding: 32px;
    text-align: center;

    background:
        linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        var(--bgcolor) 100%
        ),
        linear-gradient(
        180deg,
        #0088dc,
        #22cbdc,
        #ff7fca,
        #ff30dc
        );

    background-size:
        100% 100%,
        100% 400%;

    background-blend-mode: normal;

    animation: cyanShift 12s ease infinite;
}


@keyframes cyanShift {
    0%   { background-position: 0% 0%,   0% 0%; }
    50%  { background-position: 0% 0%, 100% 100%; }
    100% { background-position: 0% 0%,   0% 0%; }
}

.banner h1 {
    font-size: 4rem;
    margin: 0px 0 0;
    color: rgba(255, 255, 255, 0.807);
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Burbank';
}

.banner p {
    margin: 4px 0 0;
    font-size: 0.9rem;
    color: rgba(255,255,255,.85);
}

@media (max-width: 600px) {

    .banner h1 {
        font-size: 2rem;
    }
}