@font-face {
  font-family: 'Burbank';
  src: url('Assets/font/burbankbigcondensed_black.otf') format('opentype');
}

body, html {
  background: #3a3a3a;
  margin:0;
  padding:0;
  overflow:hidden;
  height:100%;
  font-family: 'Reem Kufi', 'Burbank';
  perspective: 100px;
  cursor: url('Assets/cursor/mouse.cur'), auto;
}
a, button, button > div, a > div {
  cursor: url('Assets/cursor/mouse.cur'), pointer;
}

/* body {
  margin: 0;
  font-family: system-ui;
  background: #3a3a3a;
  color: #111;
} */

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
}

.status.online {
  background: #3cff6b;
}

footer {
  padding: 200px;
  text-align: center;
  color: #888;
}

.games {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}

.game {
  position: relative;
  aspect-ratio: 1 / 1;
  background: #ffffff3e;
  border-radius: 20px;
  display: grid;
  place-items: center;
  box-shadow: 0 15px 40px rgba(0,0,0,.08);
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
}

.game:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 60px rgba(0,0,0,.3);
}

.game .name {
  font-size: 2.0rem;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  color: rgb(255, 255, 255);
}

.status {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bbb;
}

.status.online {
  background: #31ff61;
}

.icon {
  width: 90px;
  height: 90px;
  opacity: .85;
}

.primary {
  background-color: var(--color);
  -webkit-mask-image: var(--icon-url);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
          mask-image: var(--icon-url);
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
}

.banner {
  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 32px;
  text-align: center;

  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,
      #3a3a3a 100%
    ),
    linear-gradient(
      90deg,
      #22cbdc,
      #a41bff,
      #ff30e3,
      #2222dc
    );

  background-size:
    100% 100%,
    400% 100%;

  background-blend-mode: normal;

  animation: cyanShift 3s ease infinite;
}


@keyframes cyanShift {
  0%   { background-position: 0% 0%,   0% 0%; }
  50%  { background-position: 0% 0%, 100% 100%; }
  100% { background-position: 0% 0%,   0% 0%; }
}

.banner h1 {
  font-size: 4rem;
  margin: 0px 0 0;
  color: rgba(255, 255, 255, 0.807);
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Burbank';
}

.banner p {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: rgba(255,255,255,.85);
}

@media (max-width: 600px) {

  .games {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
  }

  .game {
    border-radius: 16px;
  }

  .game .name {
    font-size: 1.5rem;
  }

  .banner h1 {
    font-size: 2rem;
  }
}